
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      Start Features Block
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Main Wrapper
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

							
							
						</main>
						<!--~./ end site main ~-->

						<!--~~~~~ Start Paging Navigation ~~~~~-->
						
						<!--~./ end paging navigation ~-->
					</div>

					<!--~~~~~ Start sidebar ~~~~~-->
					<div class="col-lg-4">
						<!-- Sidebar Items -->
						<div class="sidebar-items style-two">
							<!--~~~~~ Start About Me Widget ~~~~~-->
							<aside class="widget bt-about-me-widget">
								<h4 class="widget-title">
									About Me
								</h4>
								<!-- /.widget-title -->
								<div class="widget-content">
									<div class="author-thumb">
										<a href="#"><img src="assets/images/widget/about/about-me2.jpg" alt="img" /></a>
									</div>
									<div class="info">
										<h3 class="designation">Writer & Photographer</h3>
										<p>
											When it comes to creating is a website for your
											business, an attractive design
										</p>
										<div class="author-sign">
											<img src="assets/images/widget/about/signature.png" alt="img" />
										</div>
									</div>
								</div>
							</aside>
							<!--~./ end about me widget ~-->

							<!--~~~~~ Start Categories Widget ~~~~~-->
							<aside class="widget widget_categories">
								<h4 class="widget-title">
									Categories
								</h4>
								<!-- /.widget-title -->
								<div class="widget-content">
									<ul>
										<li>
											<a href="#">Foods <span class="count">24</span></a>
										</li>
										<li>
											<a href="#">Reciepes <span class="count">22</span></a>
										</li>
										<li>
											<a href="#">Diet <span class="count">60</span></a>
										</li>
										<li>
											<a href="#">Health Foods <span class="count">34</span></a>
										</li>
										<li>
											<a href="#">Fast Foods <span class="count">17</span></a>
										</li>
									</ul>
								</div>
								<!-- /.widget-content -->
							</aside>
							<!--~./ end categories widget ~-->

							<!--~~~~~ Start Bt Social Widget~~~~~-->
							<aside class="widget bt-socail-widget">
								<h4 class="widget-title">
									Social
								</h4>
								<!-- /.widget-title -->
								<div class="widget-content">
									<div class="bt-socail-profile">
										<a class="bt-facebook-icon icon" href="#" target="_blank">
											<span class="social-icon">
												<i class="fab fa-facebook-square"></i>
											</span>
											<span class="bt-name">facebook</span>
										</a>
									</div>
									<!--~./ bt-socail-profile ~-->

									<div class="bt-socail-profile">
										<a class="bt-twitter-icon icon" href="#" target="_blank">
											<span class="social-icon">
												<i class="fab fa-twitter"></i>
											</span>
											<span class="bt-name">twitter</span>
										</a>
									</div>
									<!--~./ bt-socail-profile ~-->

									<div class="bt-socail-profile">
										<a class="bt-linkedin-icon icon" href="#" target="_blank">
											<span class="social-icon">
												<i class="fab fa-linkedin-in"></i>
											</span>
											<span class="bt-name">linkedin</span>
										</a>
									</div>
									<!--~./ bt-socail-profile ~-->

									<div class="bt-socail-profile">
										<a class="bt-youtube-icon icon" href="#" target="_blank">
											<span class="social-icon">
												<i class="fab fa-youtube"></i>
											</span>
											<span class="bt-name">youtube</span>
										</a>
									</div>
									<!--~./ bt-socail-profile ~-->
								</div>
							</aside>
							<!--~./ end bt social widget ~-->

							<!--~~~~~ Start Post List Widget~~~~~-->
							<aside class="widget widget-post-list">
								<h4 class="widget-title">Recent Post</h4>
								<!-- /.widget-title -->

								<div class="widget-content">
									<article class="post">
										<div class="thumb-wrap">
											<a href="single-post.html">
												<img src="assets/images/widget/post/wp_1.jpg" alt="post" />
											</a>
										</div>
										<!--./ thumb-wrap -->
										<div class="content-entry-wrap">
											<h3 class="entry-title">
												<a href="single-post.html">Best Wordpress Theme of 2021</a>
											</h3>
											<!--./ entry-title -->
											<div class="entry-meta-content">
												<div class="entry-date">
													August 23, 2015
												</div>
											</div>
											<!--./ entry-meta-content -->
										</div>
									</article>
									<!--./ end post -->
									<article class="post">
										<div class="thumb-wrap">
											<a href="single-post.html">
												<img src="assets/images/widget/post/wp_2.jpg" alt="post" />
											</a>
										</div>
										<!--./ thumb-wrap -->
										<div class="content-entry-wrap">
											<h3 class="entry-title">
												<a href="single-post.html">Dating While Studying Minimize Heartbreak</a>
											</h3>
											<!--./ entry-title -->
											<div class="entry-meta-content">
												<div class="entry-date">
													August 23, 2015
												</div>
											</div>
											<!--./ entry-meta-content -->
										</div>
									</article>
									<!--./ end post -->
									<article class="post">
										<div class="thumb-wrap">
											<a href="single-post.html">
												<img src="assets/images/widget/post/wp_3.jpg" alt="post" />
											</a>
										</div>
										<!--./ thumb-wrap -->
										<div class="content-entry-wrap">
											<h3 class="entry-title">
												<a href="single-post.html">Nature Photography Best Place Focus</a>
											</h3>
											<!--./ entry-title -->
											<div class="entry-meta-content">
												<div class="entry-date">
													August 23, 2015
												</div>
											</div>
											<!--./ entry-meta-content -->
										</div>
									</article>
									<!--./ end post -->
									<article class="post">
										<div class="thumb-wrap">
											<a href="single-post.html">
												<img src="assets/images/widget/post/wp_4.jpg" alt="post" />
											</a>
										</div>
										<!--./ thumb-wrap -->
										<div class="content-entry-wrap">
											<h3 class="entry-title">
												<a href="single-post.html">Best Wordpress Theme of 2021</a>
											</h3>
											<!--./ entry-title -->
											<div class="entry-meta-content">
												<div class="entry-date">
													August 23, 2015
												</div>
											</div>
											<!--./ entry-meta-content -->
										</div>
									</article>
									<!--./ end post -->
								</div>
							</aside>
							<!--~./ end post list widget ~-->

							<!--~~~~~ Start Advertisement Widget ~~~~~-->
							<aside class="widget widget_advertisement">
								<div class="widget-content">
									<a href="#"><img src="assets/images/widget/ads.jpg" alt="Advertisement" /></a>
								</div>
								<!-- /.widget-content -->
							</aside>
							<!--~./ end Advertisement widget ~-->
						</div>
						<!--  /.sidebar-items -->
					</div>
					<!-- /.col-lg-4 -->
				</div>
			</div>
		</div>
		<!--~./ end main wrapper ~-->

		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Site Footer
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<footer class="site-footer pd-t-120">
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					Start Instagram Widget Area
			~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="instagram-widget-area pd-b-35">
				<div class="widget bt-instafeed-widget">
					<ul id="instafeed">
						<li class="feed-item">
							<a href="#">
								<img src="assets/images/widget/instagram/2/1.jpg" alt="#">
								<div class="overlay"><i class="fab fa-instagram"></i></div>
							</a>
						</li>
						<li class="feed-item">
							<a href="#">
								<img src="assets/images/widget/instagram/2/2.jpg" alt="#">
								<div class="overlay"><i class="fab fa-instagram"></i></div>
							</a>
						</li>
						<li class="feed-item">
							<a href="#">
								<img src="assets/images/widget/instagram/2/3.jpg" alt="#">
								<div class="overlay"><i class="fab fa-instagram"></i></div>
							</a>
						</li>
						<li class="feed-item">
							<a href="#">
								<img src="assets/images/widget/instagram/2/4.jpg" alt="#">
								<div class="overlay"><i class="fab fa-instagram"></i></div>
							</a>
						</li>
						<li class="feed-item">
							<a href="#">
								<img src="assets/images/widget/instagram/2/5.jpg" alt="#">
								<div class="overlay"><i class="fab fa-instagram"></i></div>
							</a>
						</li>
						<li class="feed-item">
							<a href="#">
								<img src="assets/images/widget/instagram/2/6.jpg" alt="#">
								<div class="overlay"><i class="fab fa-instagram"></i></div>
							</a>
						</li>
					</ul>
				</div>
				<!--/.widget-instafeed-->
			</div>
			<!--~./ end instagram widget area ~-->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					Start Footer Widget Area
				~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="footer-widget-area">
				<div class="container">
					<div class="row">
						<!--~~~~~ Start Widget Location ~~~~~-->
						<div class="col-lg-4 col-md-6">
							<aside class="widget bt-location-widget">
								<h2 class="widget-title">Our Address</h2>
								<div class="widget-content">
									<div class="info-box">
										<p>
											Dannmondi 15 number Sheen Darus Salam. 112/B Road 8A,
											Dhanmondi.
										</p>
									</div>
									<div class="info-box">
										<p>+880-036987458765521</p>
										<p>
											<a href="mailto:information@gmail.com">information@gmail.com</a>
										</p>
									</div>
								</div>
							</aside>
						</div>
						<!--~./ end location widget ~-->

						<!--~~~~~ Start Widget Links ~~~~~-->
						<div class="col-lg-2 col-md-6">
							<aside class="widget widget_links">
								<h2 class="widget-title">Quick Links</h2>
								<div class="widget-content">
									<ul>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Services</a></li>
										<li><a href="#">Stories</a></li>
									</ul>
								</div>
							</aside>
						</div>
						<!--~./ end links widget ~-->
						<!--~~~~~ Start Widget Links ~~~~~-->
						<div class="col-lg-2 col-md-6">
							<aside class="widget widget_links">
								<h2 class="widget-title">Categories</h2>
								<div class="widget-content">
									<ul>
										<li><a href="#">Lifestyle</a></li>
										<li><a href="#">Travel</a></li>
										<li><a href="#">Food & Drinks</a></li>
										<li><a href="#">Inspiration</a></li>
										<li><a href="#">Decoration</a></li>
									</ul>
								</div>
							</aside>
						</div>
						<!--~./ end links widget ~-->

						<!--~~~~~ Start Subscribe Widget~~~~~-->
						<div class="col-lg-4 col-md-6">
							<aside class="widget tb-subscribe-widget">
								<h4 class="widget-title">Our Monthly Newsletter</h4>
								<div class="widget-content">
									<p>
										Sign Up TO Get Updates On Articles, Interviews And Events.
									</p>
									<div class="subscribe-form">
										<!-- Subscribe form -->
										<form class="dv-form" id="mc-form">
											<div class="form-group">
												<input id="mc-email" name="EMAIL" placeholder="YOUR EMAIL" type="email" />
												<button class="btn btn-default" name="Subscribe" id="subscribe-btn" type="submit">
													Sign Up
												</button>
											</div>
										</form>
									</div>
								</div>
							</aside>
						</div>
						<!--~./ end subscribe widget ~-->
					</div>
				</div>
			</div>
			<!--~./ end footer widgets area ~-->

			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
										Start Footer Bottom Area
								~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="footer-bottom-area">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="footer-bottom-content">
								<div class="copyright-text text-center">
									<p>
										Copyright - 2021 EasyArt theme by
										<a href="#">HTMLguru</a>
									</p>
								</div>
								<!--~./ end copyright text ~-->
							</div>
						</div>
						<!--~./ col-12 ~-->
					</div>
				</div>
			</div>
			<!--~./ end footer bottom area ~-->
		</footer>
		<!--~./ end site footer ~-->
	</div>
	<!--~~./ end site content ~~-->

	<!-- All The JS Files
    ================================================== -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="assets/js/simple-scrollbar.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/masonry.pkgd.min.js"></script>
	<script src="assets/js/theia-sticky-sidebar.min.js"></script>
	<script src="assets/js/ResizeSensor.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/scrolla.jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
	<!-- main-js -->
</body>

</html>